/* Word sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: "Work Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

html, body {
   height: 100%;
   width: 100%;
}

main{
   max-width: 75%;
   margin: 0 auto;
}


/* shared styles */
.dark1{
   color: #131313;
}

.dark2{
   color: #424242;
}

.dark3{
   color: #727272;
}

.bg-light{
   background-color: rgba(255, 144, 14, 0.1);
}

.btn{
   background-color: rgba(255, 144, 14, 1);
   border-radius: 8px;
   color: white;
   padding: 20px 25px;
   font-size: 1.25rem;
   font-weight: 600;
   border: none;
}


/* Nav bar starts here */

.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 auto;
   padding: 25px 0;
   max-width: 75%;
}

.navbar h3{
   font-weight: 700;
   font-size: 2.8rem;
}

.menu{
   display: flex;
   gap: 50px;
}

.menu-item{
   list-style: none;
}

.menu-link{
   text-decoration: none;
   font-weight: 500;
}

.banner{
   max-width: 75%;
   margin: 0 auto;
}

.banner-content{
   max-width: 850px;
   align-items: center;
   margin: 50px auto;
   text-align: center;
}

.banner-title{
   font-weight: 700;
   font-size: 4rem;
   margin-bottom: 20px;
}

.banner-description{
   margin: 20px 0;;
}

.banner-image{
   max-width: 100%;
   border-radius: 8px;
   margin-bottom: 30px;
   height: auto;
}


/* 1st Section - Team Section */
.teams{
   display: flex;
   align-items: center;
   margin-top: 95px;
}

.team-img-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
}

.our-features{
   margin-left: 70px;
   max-width: 530px;
}

.feature-title{
   font-size: 2.8rem;
   margin-bottom: 24px;
}

.quick-list{
   font-weight: 500;
}

.of-our{
   font-weight: bold;
}

.features{
   font-weight: bold;
   color: #FF900E;
}

.feature-description{
   margin-bottom: 28px;
}


/* 2nd Section - Service Section */




/* 3rd Section - Facts Section */
.facts{
   margin-top: 130px;
   max-width: 100%;
}

.fact-title{
   font-weight: bold;
   font-size: 2.8rem;
   margin-bottom: 20px;
}

.fact-description{
   font-size: 16px;
   width: 38%;
   margin-bottom: 100px;
}

.facts-container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   margin-bottom: 180px;
   gap: 24px;
}

.fact-card{
   border: 1px solid #FF900E;
   border-radius: 8px;
   padding: 45px 35px 60px 35px;
   width: 240px;
   height: 240x;
   text-align: center;
}

.fact-number{
   font-weight: 600;
   font-size: 2.8rem;
   color: #424242;
}

.fact-name{
   font-weight: 600;
   font-size: 1.25rem;
   color: #727272;
}


/* 4th Section  -  Sponsor Section */
.our-sponsors{
   width: 100%;
}

.sponsor-info{
   max-width: 37.5%;
   margin: 50px auto;
   text-align: center;
}

.sponsor-title{
   font-weight: 700;
   font-size: 2.8rem;
   margin-bottom: 25px;
}

.sponsor-description{
   font-size: 1rem;
}

.sponsor-image{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}

.sponsor-image img{
   filter: grayscale(100%);
}






@media screen and (max-width: 576px) {
   .navbar,
   .teams{
      flex-direction: column;
   }
   .team-img-container, 
   .facts-container,
   .sponsor-image{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }
   .facts-container{
      justify-items: center;
   }

   .our-features{
      margin-top: 50px;
   }

   .sponsor-image{
      justify-items: center;
      gap: 40px;
   }
}